.img-box{
    max-width: 400px;
    flex-grow: 1;
}
/* header */
.top-header .top-header-content .title{
    letter-spacing: -2px;
}
/* nav */
.blog-menu .nav-item{
    letter-spacing: .5px;
    padding: 0;
}
/* post articles display */
.article-link{
    display: block;
    position: relative;
}
.img-wrapper{
    float: left;
    margin: 2px 7.14286% 8px 0;
    width: 30%;
    /* padding-top: 25.89286%; */
}
.article-content h4{
    text-transform: uppercase;
    font-size: 1.75rem;
}
.post-content a:hover,
.post-content a:visited{
    color: forestgreen;
}

/* pagination */
.pagination_nav .nav_links .pagination_page-num{
    font-size: 1.2rem;
    font-weight: bold;
}
/* styling outsourced comments section css */
.comments{
    border-top: 2px solid rgb((44), 160, 41);
}
.comments-list{
    background: rgb(247, 247, 247);
    margin-bottom: 15em;
}
.comments .even{
    /* background: blue; */
}
.comment-meta{
        position: relative;
}
.comment-meta h4{
    margin-right: 1em;
    display: inline;
}
.comment-content{
    margin-top: .5em;
    margin-left: 2em !important;
}
.comment-meta .btn{
    margin-top: 2em;
    padding: .6em 1.5em;
    position: absolute;
    right: 0;
    background: #31B22D;
    color: white;
    cursor: pointer;
}
.reply-item{
    margin-left: 5em;
    margin-top: 2em;
}
.comment-form{
    padding-top: 2em;
    /* background: blue; */
}



