---
layout: default
title: Welcome, Dike Philip Blog
---



        <main>
            <div class="container">
                <article class='all-post'>
                {% for posts in paginator.posts %}
                    <article class="post-content o-words">
                    <a href="{{site.baseurl}}/{{ posts.url}}"  class="article-link" >                        
                        <figure class="img-box img-wrapper">
                            <img src="{{site.baseurl}}/img/{{posts.image}}" alt="blog-pics" class="img-fluid">
                        </figure>
        
                        <div class="article-content">
                            <h4>{{ posts.title }}</h4>
                            <p>{{ posts.meta }}...</p>
                            <button class="btn btn-accent">Read More</button>
                        </div>                        
                    </a>
                    </article>

                {% endfor %}
                </article>
            </div>

            {% include paginator.html %}          
        </main>        

