<div class="container">   
    <form class="comment-form" id="comment-form" method="" action="">
        <h4>Leave a reply</h4>
        <label for="comment-box" class="comment-box" class="user-requirement">
            <textarea name="comment" id="comment-box" class="comment-textbox"  placeholder="Place Comment..." required></textarea>
        </label>

        <label for="user" class="user-requirement">
            Your Name:
            <input type="text" name="name" id="name" placeholder="Enter your name here" required>
        </label>
        
        <label for="user" class="user-requirement">
            Your Email:
            <input type="email" name="email" id="email" placeholder="jamesbonde@example.com" required>
        </label>
        <button class="submit" type="submit">Post comment</button>
    </form>
</div>