<ol class="comments-list">
    <li id="1" class="comments even thread-even parent">
        <article class="comment-body">
        <header class="comment-meta">
            <div class="comment-author vcard">
                <img src="img/iconfinder-800x337 - twitter.svg" alt="" class="img-fluid avatar" height="56px" width="56px">
                <b class="fn"></b>
            </div>
            <div class="comment-metadata">
                <a href="" class="time-posted-link">
                    <time datetime="2019-12-01T10:44:26-08:00">
                            December 1, 2019 at 10:10am
                    </time>
                </a>
            </div>
        </header> 

        <div class="comment-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti tenetur minus aperiam dolorum. Dolor ratione dicta amet facilis iure eos ullam, fugit itaque facere deleniti! Quaerat voluptate quas esse molestiae a eligendi eveniet earum dolores, nisi dolorum! Iusto, voluptatem eum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, natus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ratione libero nesciunt?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, accusantium! Aspernatur facilis nesciunt quas earum dolorum nemo cum blanditiis non iusto eaque laboriosam aperiam omnis hic saepe perferendis ipsam rem dolorem iste dicta temporibus impedit voluptas, voluptatem rerum! Cumque, voluptatum?</p>
        </div>
        </article>

        <ol class="children">
            <li class="comment-reply">
                <article id="reply-comment-link1" class="comment-body">
                    <footer class="comment-meta">
                        <div class="comment-author vcard">
                            <img src="img/iconfinder-800x337 -instagram.svg" alt="" class="img-fluid avatar">
                            <b class="fn">Zenndingthon</b>
                        </div>
                        <div class="comment-metadata">
                            <a href="" class="time-posted-link">
                                <time datetime="2019-12-01T10:44:26-08:00">
                                    December 1, 2019 at 10:10am
                                </time>
                            </a>
                        </div>
                    </footer>
                    <div class="comment-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, natus!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ratione libero nesciunt?</p>
                    </div>
                </article>
            </li>
        </ol>
    </li>
</ol>