<footer id="footer" class="footer">
    <div class="container">
        <div class="footer_items">
            <div class="social-links-wrap">
                <h5>follow me on...</h5>
                <ul class="social-links">
                    <li class="social-link">
                        <a href="https://www.facebook.com/dikephilip/home-page">
                            <img src="img/iconfinder-800x337 - facebook.svg" alt="facebook-svg" class="img-fluid">
                        </a>
                    </li>

                    <li class="social-link">
                        <a href="https://www.facebook.com/dikephilip/home-page">
                            <img src="img/iconfinder-800x337 - twitter.svg" alt="facebook-svg" class="img-fluid">
                        </a>
                    </li>
                    
                    <li class="social-link">
                        <a href="https://www.facebook.com/dikephilip/home-page">
                            <img src="img/iconfinder-800x337 -instagram.svg" alt="facebook-svg" class="img-fluid">
                        </a>
                    </li>
                </ul>
            </div>


            <div class="copyright">
                <p> &copy; 2019, Proudly Nwangele</p>
            </div>
        </div>
    </div>
</footer>