<head> 
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Dike Philip is a political scientist. He shares his thouhgt about current political situations in his local environment being imo state">
    
    <title>{{ page.title}}</title>

    
    <!-- Favicon  Blog Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/img/favicon/IMG-20191202-WA0000.ico" />

    <link rel="stylesheet" href="{{site.baseurl}}/css/vendor/bootstrap-grid.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">

    <!-- Fonts  -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/vendor/fonts/css/font-awesome.css">

   
</head>