<header id="header" class="header">

    <div class="top-header">
        <div class="top-header-content">
            <a href="index.html"><h1 class="title">DIKE PHILIP BLOG</h1></a> 
            <p class="content-body">
                lets talk local politics 
                <!-- and it is affecting our every day life in this country called Nigeria  -->
            </p>
        </div>
    </div> 
<!-- <div class="container">           -->
        {% include nav.html navclass='nav-top'%}
<!-- </div> -->
</header>