<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    <div class="content-wrapper">

        {% include header.html %}
        {{content}}

    </div>

    {% include footer.html %}
    

      <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>
      <script src="{{ site.baseurl }}/js/vendors/md5.js"></script>
      <script src="{{ site.baseurl }}/js/vendors/timeago.js"></script>
      <script src="{{ site.baseurl }}/js/vendors/xss-filters.js"></script>
      <!-- <script src="{{site.baseurl}}/fire-comments.js"></script> -->
      <script src="{{ site.baseurl }}/js/blog-comment.js"></script>
      <script defer src="{{site.baseurl}}/js/hamMenu.js"></script>

</body>
</html>