---
layout: default
---
 

<main>
    <div class="article-header">
        <h2>{{ page.title | escape }}</h5>
        <div class="date">
            <p>{{ page.date | escape}}</p>
        </div>
        <div class="author">
            <p>By {{ page.author }}</p>
        </div>
    </div> 
    
    <div class="container article-body">
        <article class="all-post">
            <article class="single-post">
                <div class="article-img-box">
                    <img src="{{site.baseurl}}/img/{{page.image}}" alt="" class="img-fluid">
                </div> 
                <div class="article-contents">
                    
                    {{content}} 

                </div>
            </article>
        </article> 
    </div> 
    <section class="comment">
        <h2 class="comment-title">Comment</h2>
        <!-- {% include comments.html %} -->
        {% include comment-form.html %}
    </section>

</main>



